.direction {
    font-family: "serif" ;
    font-size: 15px;
    background-color: black;
  }
  .direction:hover {
    background-color: rgb(83, 9, 152);
    color: lightpink;
  }
  .speech {
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    background-color: black;
  }
  .Dr.Stokemann {
    color:blue;
  }
  .Mrs.Stockmann  {
    color: violet;
  }
  .Horster  {
    color: red;
  }
  .Billing {
    color: brown;
  }
  .EnemyAct {
    border: 1px solid;
    border-collapse: collapse;
    margin:1px;
  }
  
  .EnemyAct th {
    text-align: center; 
    padding: 10px;
  }
  
  .EnemyAct td {
    text-align: center;
    padding: 10px;
  }
  
  .EnemyAct tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .EnemyAct tr:hover {
    background-color: #21545c;
  }